<!DOCTYPE html>
<html>
  <header>
    <!-- <%= stylesheet 'global' %> -->
    <!-- <%= stylesheet 'application' %> -->
    <%= stylesheet 'bootstrap.min', 'app' %>
  </header>
  <head>
    <title>CMS</title>
    <%= favicon %>
  </head>
  <body class='container'>
    <%= yield %>
  </body>
</html>
